body,button,input,select,textarea{font-family:"Helvetica Neue",Helvetica;}
article,aside,blockquote,body,button,dd,dl,dt,fieldset,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul{margin:0;padding:0;-webkit-text-size-adjust:100%}
table{border-collapse:collapse;border-spacing:0}
em,i{font-style:normal}
li{list-style:none}
img{border:0}
article,aside,footer,header,hgroup,menu,nav,section{display:block}
a{text-decoration:none;text-decoration:none;-webkit-tap-highlight-color: rgba(0,0,0,0);tap-highlight-color: rgba(0,0,0,0);outline: 0;}
html,body{-webkit-text-size-adjust:none;line-height:1;}
html,
body{font-size:62.5%;}
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden}
body:before{content: '';display: block;height: 2.6rem;}
body{background: #2D71A5;}
.Sh_hd{position:relative;height:0;padding-bottom:26.2%;background:url(http://i0.letvimg.com/lc05_iscms/201703/24/17/18/11406369351b485ea5e85cc9f494c90e.png) no-repeat center center;background-size:100% auto;}
.Sh_hd .thumb{position:absolute;left:50%;top:50%;margin:-8.3% 0 0 -8.3%;width: 16.6%;}
.Sh_hd .thumb .image{position:absolute;width:100%;height:0;padding-bottom:100%;background:#fff;border-radius:50%;box-shadow: 0 0 0.3rem rgba(255, 255, 255, .8)}
.Sh_hd .thumb img{position:absolute;width:100%;height:100%;border-radius:50%;}
.Sh_hd .nm{position: absolute;bottom:-2rem;width:100%;text-align: center;font-size:1.5rem;color:#fff;}
.Sh_cnt{position:relative;padding:0 5%;background:url(http://i2.letvimg.com/lc06_iscms/201703/24/17/18/eb0c4526fe4b4e7594c92ad2f11293ae.png) no-repeat center center;background-size:100% auto;}
.Sh_cnt .text{position:relative;height:0;/*padding:0 18%;*/padding-bottom:120%;color:#fff;font-size:1.4rem;line-height: 1.9rem;}
.Sh_cnt .text .yunshi{position:absolute;left:0;top:0;padding:28% 18% 28% 20%;height:100%;width:100%;color:#17264A;box-sizing: border-box;}
.Sh_cnt .text .yunshi:after{content:'';display: inline-block;height: 100%;width:0.1%;vertical-align: middle;}
.Sh_cnt .text .yunshi .text_wrap{display: inline-block; vertical-align: middle;width:98%;}
.Sh_icon{position:relative;padding-bottom: 2rem;font-size: 1.2rem;}
.Sh_icon .tip{position:relative;padding-top:1.5rem;color:#fff;}
.Sh_icon .qr{position:relative;padding-top:1.5rem;text-align:center;}
.Sh_icon .qr span{margin:0 10px;display: inline-block;width: 7.5rem;height:7.5rem;background:#fff;}
.Sh_icon .qr img{width:100%;height:100%;display: block;}
.Sh_icon .tip{text-align: center;}
.Sh_ft{position:absolute;left:0;bottom:0;width: 100%;padding-bottom:20.6%;background:url(http://i3.letvimg.com/lc07_iscms/201703/24/16/01/53e9da860d0140d197ef92b1125b7944.png) no-repeat center bottom;background-size:100% auto;}
