/* 分享页 */
body,button,input,select,textarea{font-family:"Helvetica Neue",Helvetica;}
article,aside,blockquote,body,button,dd,dl,dt,fieldset,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul{margin:0;padding:0;-webkit-text-size-adjust:100%}
table{border-collapse:collapse;border-spacing:0}
em,i{font-style:normal}
li{list-style:none}
img{border:0}
article,aside,footer,header,hgroup,menu,nav,section{display:block}
a{text-decoration:none;text-decoration:none;-webkit-tap-highlight-color: rgba(0,0,0,0);tap-highlight-color: rgba(0,0,0,0);outline: 0;}
html,body{-webkit-text-size-adjust:none;line-height:1;}
html,
body{font-size:62.5%;}
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden}

.M_shareqr{width:100%;padding-bottom:178.3%;background:url(http://i0.letvimg.com/lc04_iscms/201704/12/16/23/51400d14d8444402899c1380b82479ae.jpg) no-repeat center top #fc5050;background-size:100% auto;}
/*
.M_shareqr .qr_wrap{position: absolute;right:2rem;bottom:1.5rem;text-align: center;color:#fff;font-size:1rem;}
.M_shareqr .qr_wrap img{display: block;margin:0 auto 0.8rem;;width:6rem;height:6rem;}
*/
